@import url("https://fonts.googleapis.com/css?family=Mulish");
@import url("https://fonts.googleapis.com/css?family=Signika");

body {
    background-color: #fffcf5;
}

div {
    color: #78483b; 
    font-family:'Mulish', serif;
}


*{
    box-sizing: border-box;
  }
  




  @media (max-width: 900px){
    section .skills_content{
      flex-direction: column;
    }
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


  .skills_content{
      position: relative;
      display: flex;
      flex-wrap: wrap;
  }

  .langs_box{
    flex: 50%;
    margin: auto;
    margin-left: auto; 
    margin-right: auto;
  }


  .tech_box{
    flex: 50%;
    margin: auto;
    margin-left: auto; 
    margin-right: auto;
  }



  .skills_header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #F4D6D7; 
  }
  
  
  .skills {
    flex: 50%; 
    padding: 20px; 
    font-size: 30px;
    font-family: "Signika", serif;
    font-style: normal;
    
  }


  
@media screen and (max-width: 700px) {
  .skills {
    flex-direction: column;
  }
}


.langs_box,
.tech_box {
  flex: 50%; 
  padding: 20px; 
  text-align: center;
  
}



.top {
  position: relative;
  display:flex;
  flex-wrap: wrap;
  height: 100vh;
}

.header_left {
  position: relative;
  flex: 50%; 
  background-color: #F4D6D7; 
  padding: 20px; 

  height: 100vh;

}

.header_right {
  position: relative;
  flex: 50%; 
  background-color: #fffcf5; 
  padding: 20px;

  height: 100vh;


}

.greeting {
  position: relative;
  font-family: "Signika", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 99px;


  right: 35%;

  text-align: right;

  color: #fffcf5;

  animation-name: enterGreeting;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
}

.left_text{
  position: relative;
  font-family: "Signika", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 99px;

  top: 40%;

  text-align: right;


  animation-name: enterLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.right_text {
  position: relative;
  font-family: "Signika", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 99px;

  top: 40%;

  text-align: justify;

  color: #F4D6D7;

  animation-name: enterRight;
  animation-duration: 2.4s;
  animation-fill-mode: forwards;

}

@keyframes enterRight {
  from {top: 0%; color: #fffcf5;}
  to {top: 40%; color: #F4D6D7}
}

@keyframes enterGreeting {
  from {top: 0%; color: #F4D6D7}
  to {top: 15%; color: #fffcf5;}
}

@keyframes enterLeft {
  from {top: 0%; color: #F4D6D7}
  to {top: 40%; color: #fffcf5;}
}


.mouse_gif{
  position: absolute;
  top: 55%;
  left: 45%;
  display:flex;
  flex-wrap: wrap;
  animation-name: mouseAni;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  
}

@keyframes mouseAni {
  from {top: 0%; opacity: 0;}
  to {top: 55%; opacity: 1;}
  
}

.socials{
  position: relative;
  font-size: 30px;
  color: #F4D6D7;
  text-align: right;
  top: 80%;
  text-decoration: none;
}

.socials a:link { 
  text-decoration: none; 
  color: #F4D6D7;
}

.socials a:visited { 
  text-decoration: none; 
  color: #F4D6D7;
}

.socials a:hover { 
  text-decoration: none; 
  color: #e9b7b9;
}

.socials a:active { 
  text-decoration: none; 
  color: #F4D6D7;
}

.drawn_logo {
  position: absolute;
  top: 30px;
  left: 30px;
  display:flex;
  flex-wrap: wrap;
  height: 60vh;
}







@media screen and (max-width: 700px) {
  .introduction {
    flex-direction: column;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .introduction-animation {
    animation: enterIntro 1.8s 1;
    animation-fill-mode: forwards;
  }
}

@keyframes enterIntro {
  from {opacity: 0%;}
  to {opacity: 100%;}
}


.intro_content {
  position: relative;
  display: flex;
  flex-wrap: wrap;

}

.photos{
  flex: 50%
}

.words{
  flex: 50%;
  margin: auto;
  margin-left: auto; 
  margin-right: auto;
}

.photo_self {
  flex: 50%; 
  padding: 50px; 
  text-align: center;

}

.bio {
  flex: 50%; 
  padding: 50px;
  margin: auto;
  margin-left: auto; 
  margin-right: auto;
  
}

.me_gif{
  position: relative;
  top: -40px;
  left: 5%;
}



@media screen and (max-width: 700px) {
  .projects {
    flex-direction: column;
  }
}

.projects_header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #F4D6D7; 
}

.projects_title {
  flex: 50%; 
  padding: 20px; 
  font-size: 30px;
  font-family: "Signika", serif;
  font-style: normal;
  
}

.projects_content, 
.projects_content2 {
    flex: 100%;
    padding: 20px;
    
}





@media screen and (max-width: 700px) {
  .hobbies {
    flex-direction: column;
  }
}

.hobbies_header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #F4D6D7; 
}

.hobbies_title {
  flex: 50%; 
  padding: 20px; 
  font-size: 30px;
  font-family: "Signika", serif;
  font-style: normal;
  
}

.hobbies_content{
    flex: 100%;
    padding: 20px;
    text-align: center;
    
}




footer {
  color: #78483b; 
  background-color: #F4D6D7;
  font-family:'Signika', "light";
  text-align: center;
}


.responsive {
  width: 30%;
  height: auto;
}
